header {
  align-items: center;
  display: flex;
  line-height: 3em;
  margin-bottom: 3em;
  margin-top: 3em;
  text-align: center;
  vertical-align: middle;
}

header .blog-name {
  width: 100%;
  display: inline;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  font-family: sans-serif;
}

header .blog-name a {
  color: hsl(0, 0%, 10%);
  text-decoration: none;
}

img {
  vertical-align:middle;
}

figcaption {
	font-family: serif;
	text-align: center;
	font-size: 90%;
	margin-bottom: 1em;
}

table {
  border-collapse: collapse;
  border: none;
  font-family: monospace;
  line-height: 1.5em;
  margin-bottom: 1.5em;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}

tr:first-of-type { }
tr:first-of-type > th {
  text-align: center;
  border: none;
  border-bottom: 2px solid black;
  border-top: 2px solid black;
}

tr,
th,
td {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  padding: 1em;
}

table tbody tr td {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

::-moz-selection {
  color: #eee;
  background: #222;
}

::selection {
  color: #eee;
  background: #222;
}