/* ==================================================================
VARIABLES
================================================================== */
:root {
  --block-background: hsl(0, 0%, 94%);
  --output-background: hsl(0, 0%, 98%);
  --small: 14px;
  --normal: 16px;
  --text-color: hsv(0, 0%, 20%);
}

/* ==================================================================
DEFAULT FONT AND LAYOUT
================================================================== */
html {
  color: var(--text-color);
  font-family: sans-serif;
  font-size: var(--normal);
}

/* ==================================================================
TEXT GEOMETRY
================================================================== */
.franklin-content {
  position: relative;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.45em;
}

body { 
	max-width: 750px;
	background-color: #ffffff;
	margin-left: auto;
	margin-right: auto;
}

p {
	margin-bottom: 1rem;
}

/* ==================================================================
    TITLES
================================================================== */


.franklin-content h1 {
  font-size: 1.1rem;
  margin-top: 5rem;
}

.franklin-content h2 {
  font-size: 1.1em;
  padding-bottom: 0.3em;
  margin-top: 3rem;
  margin-bottom: 0.5em;
}
.franklin-content h3 { font-size: 1.250em; }

.franklin-content h1 a { 
	color: inherit;
	text-decoration: none; 
}
.franklin-content h1 a:hover {text-decoration: none; }

.franklin-content h2 a {
	color: inherit; 
	text-decoration: none; 
}
.franklin-content h2 a:hover { text-decoration: none; }

.franklin-content h3 a {
	color: inherit; 
	text-decoration: none; 
}
.franklin-content h3 a:hover { text-decoration: none; }

.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.franklin-toc ol ol {
  list-style-type: lower-alpha;
}

.franklin-content th, td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid black;
}

.franklin-content blockquote {
  background: var(--block-background);
  border-left: 7px solid #a8a8a8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

.franklin-content blockquote p {
  display: inline;
}

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

.franklin-content a {
  color: hsl(220, 10%, 10%);
  text-decoration: none;
}

.franklin-content a:hover {
  text-decoration: none;
  color: rgb(92,136,229);
}

/* Spacing between bullet points */
.franklin-content li p {
  margin: 5px 0;
}

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a { color: green; }
.franklin-content .bibref a { color: green; }

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: middle;
  font-size: 70%;
  padding-left: 5px;
  padding-right: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content img {
  width: 70%;
  text-align: center;
  padding-left: 10%;
}

.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}

/* ==================================================================
    KATEX
================================================================== */
body {
  counter-reset: eqnum;
  }

.katex {
  font-size: 1em !important;
  }

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;
  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 10px;
}

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
  background-color: var(--block-background);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--small);
}

/* .franklin-content code { */
/* background-color: rgba(27,31,35,0.05); */
/* padding: 0.1em 0.2em; */
/* border-radius: 2px; */
/* font-size: 90%; } */

.hljs {
  font-size: var(--small);
  line-height: 1.35em;
  border-radius: 10px;
}

.hljs-meta,
.hljs-metas,
.hljs-metap { font-weight: bold; }
.hljs-meta { color: rgb(25, 179, 51); }
.hljs-metas { color: red; }
.hljs-metap { color: rgb(51, 131, 231); }

.code-output {
  background: var(--output-background);
  border: 1px dashed #dbdbdb;
}

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
  background-color: #eef3f5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid #4c9cf1;
}

/* ==================================================================
FOOT / COPYRIGHT
================================================================== */
.franklin-content .page-foot a {
  color: #a6a2a0;
  text-decoration: underline;
}

.page-foot {
  color: #a6a2a0;
  font-size: 0.8em;
  margin-bottom: 1em;
  margin-top: 6em;
  padding-top: 2em;
  text-align: center;
  
}