<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/css/basic.css">
<link rel="stylesheet" href="/css/franklin.css">
{{if hasmath}}{{insert head_katex.html}}{{end}}
{{if hascode}}{{insert head_highlight.html}}{{end}}
{{isdef title}}<title>{{fill title}}</title> {{end}}
</head>
<body>
{{insert header.html}}